<?xml version='1.0' encoding='utf-8'?>
<widget id="org.devgeeks.encryptr" version="1.0.0-beta.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Encryptr</name>
    <description>
        A sample Apache Cordova application using Crypton.io.
    </description>
    <author email="tommy@devgeeks.org" href="http://devgeeks.org">
        Tommy-Carlos Williams (devgeeks)
    </author>
    <content src="index.html" />
    <access origin="https://crypton.io" subdomains="true" />
    <access origin="https://devgeeks.org" subdomains="true" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="keepRunning" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
</widget>
