* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
 
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: -apple-system-font, "HelveticaNueue", Helvetica, Arial, sans-serif;
  background-color: #ccc;
  font-size: 100%;
  padding: 0;
  margin: 0;
}
 
.app {
  background-color: #fff;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
 
.main {
  background-color: #fff;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
 
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #ccc;
  border-bottom: 1px solid #999;
  z-index: 2;
}
 
.nav .title {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  line-height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
 
.nav .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 44px;
  height: 44px;
  padding: 0 10px;
  color: #666;
}
 
.nav .btn.disabled {
  color: #bbb;
}
 
.nav .btn:active {
  color: #000;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
 
.nav .right {
  position: absolute;
  right: 0;
  top: 0;
}
 
.nav .left {
  position: absolute;
  left: 0;
  top: 0;
}
 
.nav .btn.right {
  /* */
}
 
.nav .btn.left {
  /* */
}
 
a.btn {
  color: inherit;
  text-decoration: none;
  min-width: 44px;
  text-align: center;
  font-size: 150%;
}
 
.subviews {
  box-sizing: border-box;
  position: absolute;
  background-color: #e4e4e4;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

.subviews:after {
  content: '';
  height: 1px;
  width: 1px;
  position: absolute;
  bottom: -1px;
}
 
.hidden {
  display: none;
}

.small {
  font-size: 70%;
}
 
.login,
.signup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 101;
}

.signup {
  background: -webkit-linear-gradient(top, #ccc 0%, #999 100%);
  background: linear-gradient(to bottom, #ccc 0%, #999 100%);
}

.middle {
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea, select {
  position: relative;
  -webkit-box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font: normal 100% -apple-system-font, "Roboto", Helvetica, Arial, sans-serif;
  outline: 0 none;
}

input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  position: relative;
  padding: 10px;
  margin: 0;
  border: none;
  border: 1px solid rgb(200, 199, 204);
  border-bottom: none;
  background-color: rgb(248, 248, 248);
  border-radius: 0;
  box-shadow: none;
}

#username,
#newusername,
#passphrase,
#newpassphrase {
  border: none;
  margin: 0;
}

#newusername,
#username {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid rgb(200, 199, 204);
}

#passphrase,
#newpassphrase {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}
div.login-input {
  -webkit-box-sizing: border-box;
  padding: 0 20px;
}

.spacer5 {
  height: 0;
}

a {
  color: inherit;
}

a.active {
  color: #999;
}

a.button,
button {
  display: block;
  margin: 10px 20px;
  padding: 8px 40px;
  border-top: 1px solid rgba(255,255,255,0.34);
  border-right: 1px solid rgba(0,0,0,0.04);
  border-bottom: 1px solid rgba(0,0,0,0.43);
  border-left: 1px solid rgba(0,0,0,0.04);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
  color: #666;
}

a.button.primary {
  background: -webkit-linear-gradient(top, #999 0%, #666 100%);
  background: linear-gradient(to bottom, #999 0%, #666 100%);
  color: #fff;
}

a.button.active {
  color: #333;
  background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
  background: linear-gradient(to bottom, #ddd 0%, #bbb 100%);
  box-shadow: none;
  outline:0;
}

a.button.primary.active {
  color: #fff;
  background: -webkit-linear-gradient(top, #888 0%, #555 100%);
  background: linear-gradient(to bottom, #888 0%, #555 100%);
  box-shadow: none;
  outline:0;
}

ul {
  margin: 0;
  padding: 0;
  border-width: 0 0 0 1px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);
}

ul li {
  background-color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #ccc;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

ul li:last-child {
  border-bottom: 1px solid #ccc;
}

ul li small {
  font-size: 60%;
  display: block;
  position: static;
  text-align: left;
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
}

ul li a {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  display: block;
  padding: 10px;
  margin: -10px;
  color: #000;
}

ul li a.active {
  background-image: none;
  /*background-color: #3366cc;*/
  background-color: #e4e4e4;
  color: black;
}

ul li ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}

ul li.sep {
  font-size: 90%;
  padding: 2px 10px;
  background-color: white;
  border: none;
  border-top: 1px solid #e4e4e4;
  color: #aaa;
  font-weight: bold;
}

.entriesViewLoading .sep {
  background-color: #e4e4e4;
  color: #000;
}

.entriesViewLoading li {
  text-align: center;
}

.entriesViewLoading {
  display: none;
}

.entriesViewLoading.loadingEntries {
  display: block;
}