* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Source Sans Pro";
  background-color: #333333;
  font-size: 100%;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
p {
  padding: 10px;
}
a {
  cursor: pointer;
}
h1 {
  padding: 0;
}
.app {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.main {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 44px;
  background-color: #333333;
  border-bottom: 1px solid #ffffff;
  z-index: 2;
}
.nav .title {
  position: absolute;
  left: 80px;
  right: 80px;
  color: #ffffff;
  text-align: center;
  line-height: 44px;
  font-size: 110%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nav .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 44px;
  height: 44px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.7);
}
.nav .btn.disabled {
  color: #cccccc;
}
.nav .btn:active {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.nav .right {
  position: absolute;
  right: 0;
  top: 0;
}
.nav .right2 {
  position: absolute;
  right: 44px;
  top: 0;
}
.nav .left {
  position: absolute;
  left: 0;
  top: 0;
}
.menu,
.addMenu {
  position: absolute;
  top: 44px;
  left: 0;
  min-width: 150px;
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.menu ul li,
.addMenu ul li {
  background-color: #333333;
  color: #ffffff;
}
.menu ul li a,
.addMenu ul li a {
  color: #ffffff;
}
.menu ul li a.active,
.addMenu ul li a.active,
.menu ul li a:active,
.addMenu ul li a:active {
  background-color: #999999;
  color: #ffffff;
}
.addMenu {
  left: auto;
  right: 0;
}
a.btn {
  color: inherit;
  text-decoration: none;
  min-width: 44px;
  text-align: center;
  font-size: 150%;
}
.subviews {
  box-sizing: border-box;
  position: absolute;
  background-color: #f6f6f6;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}
.subviews:after {
  content: '';
  height: 1px;
  width: 1px;
  position: absolute;
  bottom: -1px;
}
.subviews > div {
  overflow: auto !important ;
}
.hidden {
  display: none;
}
.small {
  font-size: 60%;
}
.login,
.signup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  color: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 101;
}
.signup {
  background: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
  background: linear-gradient(to bottom, #333333 0%, #000000 100%);
}
.middle {
  text-align: center;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select {
  position: relative;
  -webkit-box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  font: normal 100% "Source Sans Pro";
  outline: 0 none;
}
input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  position: relative;
  padding: 10px;
  margin: 0;
  border: none;
  border: 1px solid #c8c7cc;
  border-bottom: none;
  background-color: #f8f8f8;
  border-radius: 0;
  box-shadow: none;
}
#username,
#newusername,
#passphrase,
#newpassphrase {
  border: none;
  margin: 0;
}
#newusername,
#username {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #c8c7cc;
}
#passphrase,
#newpassphrase {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
}
div.login-input {
  -webkit-box-sizing: border-box;
  padding: 0 20px;
}
.signupLink,
.backToLoginLink {
  margin-top: 20px;
}
.spacer5 {
  height: 0;
}
a {
  color: inherit;
}
a.active,
a:active {
  color: #999999;
}
a.button.primary {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.8);
  color: #ffffff;
}
a.button.primary.active,
a.button.primary:active {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.8);
}
a.button.active,
a.button:active {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: none;
  outline: 0;
}
a.button,
button {
  display: block;
  margin: 10px 20px;
  padding: 12px 40px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.8);
}
.emptyEntries {
  display: none;
  position: relative;
  top: 100px;
  width: 200px;
  font-size: 180%;
  font-weight: bold;
  margin: 0 auto;
  color: #ccc;
  text-align: center;
}
.emptyEntries small {
  font-size: 40%;
}
ul {
  margin: 0;
  padding: 0;
  border-width: 0 0 0 1px;
  /*box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.4);*/
  /* Override some defaults from offline js */
  /* Spinner */
}
ul.flat {
  box-shadow: none;
}
ul li {
  background-color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-top: 1px solid #cccccc;
  list-style-type: none;
  margin: 0;
  padding: 15px;
  /*background-color: #3366cc;*/
  color: black;
}
ul li.input {
  padding: 2px;
}
ul li:last-child {
  border-bottom: 1px solid #cccccc;
}
ul li small {
  font-size: 60%;
  display: block;
  position: static;
  text-align: left;
  overflow: hidden;
  padding-left: 25px;
  text-overflow: ellipsis;
}
ul li a {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin: -15px;
  color: #000000;
}
ul li a.active,
ul li a:active {
  background-image: none;
  background-color: #dddddd;
  color: black;
}
ul li ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}
ul li.sep {
  font-size: 90%;
  padding: 5px 10px;
  background-color: white;
  border: none;
  border-top: 1px solid #ddd;
  color: #aaa;
  font-weight: 300;
}
ul li.entry {
  font-size: 120%;
  font-weight: 200;
}
ul .entriesViewLoading {
  text-align: center;
}
ul .entriesViewLoading {
  display: none;
}
ul .entriesViewLoading.sep {
  color: #000;
  background-color: #ddd;
}
ul .entriesViewLoading.loadingEntries {
  display: block;
}
ul .dismissed {
  display: none;
}
ul .offline-ui {
  top: auto;
  bottom: 0;
  padding: 5px !important;
}
ul .offline-ui-retry {
  line-height: 30px !important;
}
ul .spinner {
  width: 100px;
  height: 100px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}
ul .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
}
ul .spinner > div ::-webkit-input-placeholder {
  color: #8293a1;
  text-shadow: #e8ebee 0 1px 0;
}
ul .spinner > div.sep {
  font-size: 90%;
  padding: 2px 10px;
  background-color: white;
  border: none;
  border-top: 1px solid #e4e4e4;
  color: #aaaaaa;
  font-weight: 300;
}
.entriesViewLoading .sep {
  background-color: #e4e4e4;
  color: #000000;
}
.entriesViewLoading li {
  text-align: center;
}
.entriesViewLoading {
  display: none;
}
.entriesViewLoading.loadingEntries {
  display: block;
}
.dismissed {
  display: none;
}
.toast {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 250px;
  margin-left: -125px;
  padding: 10px;
  background-color: #000;
  color: #ccc;
  opacity: 0;
  border-radius: 5px;
  border: 1px solid #fff;
  z-index: 10002;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.offline-ui {
  top: auto;
  bottom: 0;
  padding: 5px ;
}
.offline-ui-retry {
  line-height: 30px ;
}
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  top: 100px;
  margin: 0 auto;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.blocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 200;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
